.content {
  width: 100%;
  height: 80px;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
}

.content__menu {
  color: #f0f0f0;
  margin-left: 40px;
}

.content__menu-logo {
  width: 50px;
  color: #f0f0f0;
  margin-left: 50px;
}

.content__menu-icon {
  width: 50px;
  color: #f0f0f0;
  margin-left: 50px;
}

.content__menu-login {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.content__menu-login-iconCaution {
  margin-left: 10px;
  color: #f0f0f0;
}
.content__menu-login-iconGlobal {
  margin-left: 10px;
  color: #f0f0f0;
}

.content__menu-loginBtn {
  margin-left: 10px;
  color: #f0f0f0;
  background-color: #0f0f0f;
}

.content__menu-signIn {
  margin-left: 20px;
  background-color: #00becf;
  color: #f0f0f0;
  width: 130px;
  height: 45px;
  border: solid 1px #00becf;
  border-radius: 5px;
}
