@import "reset.css";

a {
  text-decoration: none;
}

#media__container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#image__container {
  margin-top: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#chamImage {
  margin: 4px;
}

@media (max-width: 1220px) {
  #chamImage {
    width: 60px;
    height: 60px;
  }
  #video {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 400px) {
  #chamImage {
    width: 40px;
    height: 40px;
  }
  #video {
    width: 200px;
    height: 200px;
  }
}
