@import "reset.css";

a {
  text-decoration: none;
}

#chamImage {
  margin: 4px;
}

@media (max-width: 768px) {
  #chamImage {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1024px) {
  #chamImage {
    width: 40px;
    height: 40px;
  }
}
